.dashboard__container {
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(14 , 1fr);
}

.dash__action-bar__container {
  display: grid;
  grid-column: span 12 / span 12;
  grid-row: span 1 / span 1;
  background-color: var(--color-accent);
  padding: 10px;
}

.dash__act__
