.dashboard__container {
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(14 , 1fr);
}

.dash__action-bar__container {
  display: grid;
  grid-column: span 12 / span 12;
  grid-row: span 1 / span 1;
  background-color: var(--color-accent);
  padding: 10px;
}

.dash__action-bar{
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-template-rows: repeat(1 , 1fr);
}


.dash__act__col-4 {
  display: grid;
  grid-column: span 4 / span 4;
  grid-row: span 1 / span 1;
}


.dash__act__flex-container {
  display: flex;
  flex-direction: row;
}