:root {
    --color-primary: #111828;           /* Negro ligeramente más suave */
    --color-secondary: #1E1E1E;        /* Azul oscuro profesional */
    --color-tertiary: #242424;         /* Azul-gris para profundidad */
    --color-quaternary: #E5D79A;        /* Gris muy claro para fondos */
    --color-quinary: #F5F5F5;           /* Blanco roto para contraste */
    --color-accent: #3D84B8;           /* Azul corporativo para acentos */
    --color-success: #B1F6BB;          /* Verde para acciones positivas */
    --color-warning: #ECFE48;          /* Amarillo para advertencias */
    --color-txtwarning: #776D00;
    --color-danger: #F6B1B1;           /* Rojo para acciones críticas */
    --color-text: #333333;             /* Texto principal más suave */
    --color-septenary: #FFFFFF;        /* Blanco puro */
    --color-txtdanger: #821717;
}

.kpicard-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90%;
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
}

.kpicard-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}
.kpicard-header h5{
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-septenary);
}

.kpicard-value{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-septenary);
}

.kpicard-description{
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 0.7rem;
    gap: 5px;
}
