@import '../../styles/variables.css';

.brand{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-white);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
    background-color: var(--color-primary);
}

.buttons-container{
    display: flex;
    gap: 10px;
}

.buttons-container button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
}

.buttons-container button:hover{
    cursor: pointer;
}

.icon{
    font-size: 1.6rem;
    color: var(--color-septenary);
    transition: all 0.3s ease-in-out;
}

.icon:hover{
    color: var(--color-tertiary);
}