:root {
    --color-primary: #111828;           /* Negro ligeramente más suave */
    --color-secondary: #1E1E1E;        /* Azul oscuro profesional */
    --color-tertiary: #242424;         /* Azul-gris para profundidad */
    --color-quaternary: #E5D79A;        /* Gris muy claro para fondos */
    --color-quinary: #F5F5F5;           /* Blanco roto para contraste */
    --color-accent: #3D84B8;           /* Azul corporativo para acentos */
    --color-success: #4CAF50;          /* Verde para acciones positivas */
    --color-warning: #FFC107;          /* Amarillo para advertencias */
    --color-danger: #E53935;           /* Rojo para acciones críticas */
    --color-text: #333333;             /* Texto principal más suave */
    --color-septenary: #FFFFFF;        /* Blanco puro */
  }

.sidebar{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

.items span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.items:hover{
    background-color: var(--color-secondary);
    color: var(--color-quaternary);
    outline: none;
}

.items span{
    font-size: 1.2rem;
    color: var(--color-septenary);
    font-weight: bold;
}

.items span:hover{
    color: var(--color-quaternary);
}
