@import '../../styles/variables.css';

.sidebar{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
}

.items span{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.items:hover{
    background-color: var(--color-secondary);
    color: var(--color-quaternary);
    outline: none;
}

.items span{
    font-size: 1.2rem;
    color: var(--color-septenary);
    font-weight: bold;
}

.items span:hover{
    color: var(--color-quaternary);
}
