.pedidos-graficas__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.KPI__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.KPI__col-4 {
  width: 100%;
}

.KPI__col__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pedidos-graficas__body {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  height: 55%;
}

.metrics__containers {
  align-items: center;
  background-color: #0f172a;
  border-radius: 10px;
  border: rgb(71 85 105) solid 1px;
  padding: 20px;
  min-height: 300px;
}

.histogram__container {
  width: 70%;
  height: 100%;
}

.heatmap__container {

  width: 50%;
  height: 100%;
}